<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/pousadabd</property>
        <property name="connection.username">userpousada</property>
        <property name="connection.password">123456</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!-- 
O valor "update" altera a estrutura do banco de dados para refletir as suas entidades Java.
O valor "validate" não altera o banco de dados, apenas verifica se ele coincide com o especificado nas entidades. Caso não coincidir, uma exceção será lançada na inicialização.
O valor "create" recria o banco de dados do zero, perdendo as informações lá existentes.
O valor "create-drop" recria o banco de dados do zero, perdendo as informações lá existentes e também apaga tudo ao terminar de executar.
         -->
        <property name="hbm2ddl.auto">validate</property>
        
        <!--  property name="hibernate.temp.use_jdbc_metadata_defaults">false</property -->
        
        <mapping class="br.com.pousada.model.Cliente"/>
        <mapping class="br.com.pousada.model.Hospede"/>
        <mapping class="br.com.pousada.model.ItensFrigobar"/>
        <mapping class="br.com.pousada.model.Funcionario"/>
        <mapping class="br.com.pousada.model.Endereco"/>
        <mapping class="br.com.pousada.model.ConsumoQuarto"/>
        <mapping class="br.com.pousada.model.ConsumoFrigobar"/>
        <mapping class="br.com.pousada.model.Categoria"/>
        <mapping class="br.com.pousada.model.Aluga"/>
        <mapping class="br.com.pousada.model.ItensFrigobarCategoria"/>
        <mapping class="br.com.pousada.model.ItensQuarto"/>
        <mapping class="br.com.pousada.model.ItensQuartoCategoria"/>
        <mapping class="br.com.pousada.model.Pessoa"/>
        <mapping class="br.com.pousada.model.Quarto"/>

    </session-factory>

</hibernate-configuration>

